<html lang="en">  
<head>  
<title>Index Page</title>  
</head>  
<body>  
<form action="save" method="post">  
<table>  
<tr>    
<td><label for="s_no">S.NO</label></td>    
<td><input type="text" name="s_no"></input></td>    
 </tr>    
<tr>    
<td><label for="name">Name</label></td>    
<td><input type="text" name="name"></input></td>    
</tr>    
<tr>    
<td><label for="total_amount">Total Amount</label></td>    
<td><input type="text" name="total_amount"></input></td>    
 </tr>    
<tr>    
<td><label for="given_amount">Given  Amount</label></td>    
<td><input type="text" name="given_amount"></input></td>    
</tr>    
<tr>    
<td><label for="taken_amount">Taken Amount</label></td>    
<td><input type="text" name="taken_amount"></input></td>    
 </tr>    
<tr>    
<td><label for="city">City</label></td>    
<td><input type="text" name="city"></input></td>    
 </tr>    
  
<tr>    
<td><label for="date">Date</label></td>    
<td><input type="text" name="date"></input></td>    
</tr>    

<tr>  
<td></td>  
<td><input type="submit" value="Submit"></input></td>  
</tr>  
</table>  
</form>  
</body>  
</html>  